.btn-primary {
    background: transparent;
    border: 2px solid #fff;
    font-weight: 900;
    padding-left: 1.25rem;
    border-radius: 10rem;
    padding-right: 1.25rem;
    display: flex;
    justify-content: center;
    align-items: center;
}